/* body {
  font-family: 'Poppins', sans-serif;
  background: url('https://images.unsplash.com/photo-1621274403997-37aace184f49?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
} */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;   
  font-family: "Poppins', sans-serif";
}

body {
     background:url('https://images.unsplash.com/photo-1621274403997-37aace184f49?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1');
    
    /* background-color: #f0f0f0; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    justify-content: center;
    background-repeat: no-repeat;
    background-size:cover;
    overflow:hidden;
   justify-content: center;
   font-family: 'Poppins', sans-serif;
}
/* .container {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
} */
.container {
    /* background: white; */
    margin-top: 20px;
    color: #ddd;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 1000px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}

/* .search-box {
  /* margin-bottom: 20px; 
padding: 20px;  
 width: 95%;
   margin-right: 30px;

} 
*/


.favorites {
    background: rgba(24, 24, 27, 0.3); /* Dark semi-transparent background */
    /* padding: 150px; */
    position: fixed;
    top:10px;
     bottom:50px;
   
    /* display: flex; */
    color: white;
    /* height: 100%; */
     height: calc(100% - 20px);
    width: 22%;
    /* align-items: center; */
    justify-content: center;
    overflow-y: hidden;
    z-index: 1; 
    /* top: 0; */
    right: 10px;
 text-align:left; 
  object-fit: cover;
   flex-direction:column; 
    justify-content: flex-start; 
    overflow-y: auto;
    border-radius: 10px;
    border-color: #ddd;
    border: 1px solid #eee;
}

.favorites h3{

    margin:0;
   padding: 40px;
   
    color: white;
  
    font-size: 20px;
    /* margin-bottom: 10px;  */
    text-align: center;
}

.weather-card {

  margin-top: 45px;
}

ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

li {
  cursor: pointer;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  margin: 5px 0;
  border-radius: 4px;
  text-align: center;
  border-radius: 30px;
  border: 0.5px solid;
}
.current-location-details {
    font-family: "Poppins', sans-serif";
     display:flex;
    flex-direction: column;
   background: rgba(24, 24, 27, 0.3); /* Dark semi-transparent background */
    /* padding: 150px; */
    position: fixed;
    top:10px;
     bottom:50px;
   
    display: flex;
    color: white;
    /* height: 100%; */
     height: calc(100% - 20px);
    width: 22%;
    /* align-items: center; */
    justify-content: center;
    overflow-y: hidden;
    z-index: 1; 
    /* top: 0; */
    left: 0;
 text-align:left; 
  object-fit: cover;
   flex-direction:column; 
    justify-content: flex-start; 
    overflow-y: auto;
    border-radius: 10px;
    border-color: #ddd;
    border: 1px solid #eee;
}

.current-location-details h2 {
  margin: 0;
  font-size: 24px;
}

.current-location-details p {
  margin: 5px 0;
  font-size: 18px;
}
.favorite-button-outline {
    margin: 20px;
  background: transparent;
  color:white; /* Primary blue color */
  border: 2px solid white; 
  border-radius: 5px; 
  padding: 4px 12px;
  font-size: 14px;
  cursor: pointer;
   transition: background-color 0.3s, color 0.3s; 
   font-family: 'Poppins', sans-serif;

}

.favorite-button-outline:hover {
    
  background-color:none; 
  color: white;
} 

.current-location-weather {
    /* display:flex;
    flex-direction: column; */
    
 margin-top: 45px;
  position: fixed;
  top: 190px;
  left: 10px;
  background-color: rgba(24, 24, 27, 0.4);
  color: white;
  /* padding: 0px; */
  border-radius: 10px;
  width: 13%;
  border: 1px solid #eee;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  /* justify-content: space-between; */
  /* display: flex; */
  /* flex-direction: column; */

}
/* style.css */

.current-date-time {
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px; /* Adjust this margin as needed */
}

.current-location{
   font-family: "Poppins', sans-serif";

  position: absolute; /* Position it absolutely to control placement */
  top: 160px; /* Adjust the top position as needed */
  left: 19px; /* Align it to the left side of the page */
  font-size: 27px;
   /* font-weight: 10; */
  color: #ddd;
  /* font-weight: 100; */
  /* font-size: 30px; */
}


    .place-container{
 position: absolute; /* Position it absolutely to control placement */
  top: 207px; /* Adjust the top position as needed */
  left: 120px; /* Align it to the left side of the page */
  /* font-size: 20px; */
  color: #fff;
  /* font-weight: bold; */
  text-align: end;
  font-size: 11.5px;
  font-weight: 700;
    }

    .current-time {
  position: absolute; /* Position it absolutely */
  top: 10px; /* Adjust the top position as needed */
  left: 16px; /* Align it to the left side of the page */
  font-size: 40px;
  font-weight: 10;
  color: #fff;
  
}

.current-date {
  position: absolute; /* Position it absolutely */
  top: 90px; /* Position it below the .current-time, adjust as needed */
  left: 16px; /* Align it to the left side of the page */
  font-size: 17px;
  color: #fff;
}
.search-box input::placeholder {
  font-family: 'Poppins', sans-serif; /* Change the font */
  color: #b0b0b0; /* Optional: Change the color of the placeholder */
}
